* { margin:0; padding:0; }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* fonts */

@font-face {
    font-family: 'Source Sans Pro';
    src: url('Fonts/sourcesanspro-bold-webfont.eot');
    src: url('Fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('Fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('Fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('Fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('Fonts/sourcesanspro-boldit-webfont.eot');
    src: url('Fonts/sourcesanspro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'),
         url('Fonts/sourcesanspro-boldit-webfont.woff') format('woff'),
         url('Fonts/sourcesanspro-boldit-webfont.ttf') format('truetype'),
         url('Fonts/sourcesanspro-boldit-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('Fonts/sourcesanspro-it-webfont.eot');
    src: url('Fonts/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
         url('Fonts/sourcesanspro-it-webfont.woff') format('woff'),
         url('Fonts/sourcesanspro-it-webfont.ttf') format('truetype'),
         url('Fonts/sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('Fonts/sourcesanspro-regular-webfont.eot');
    src: url('Fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('Fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('Fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('Fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fake_receiptregular';
    src: url('Fonts/fake_receipt-webfont.eot');
    src: url('Fonts/fake_receipt-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/fake_receipt-webfont.woff2') format('woff2'),
         url('Fonts/fake_receipt-webfont.woff') format('woff'),
         url('Fonts/fake_receipt-webfont.ttf') format('truetype'),
         url('Fonts/fake_receipt-webfont.svg#fake_receiptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hcm';
    src: url('Fonts/hcm-webfont.eot');
    src: url('Fonts/hcm-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/hcm-webfont.woff2') format('woff2'),
         url('Fonts/hcm-webfont.woff') format('woff'),
         url('Fonts/hcm-webfont.ttf') format('truetype'),
         url('Fonts/hcm-webfont.svg#helvetica_condensedmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hcb';
    src: url('Fonts/hcb-webfont.eot');
    src: url('Fonts/hcb-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/hcb-webfont.woff2') format('woff2'),
         url('Fonts/hcb-webfont.woff') format('woff'),
         url('Fonts/hcb-webfont.ttf') format('truetype'),
         url('Fonts/hcb-webfont.svg#helvetica_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* body */

body {
    background: #fff;
    font: normal 15px/1.5 "Source Sans Pro", sans-serif;
    color: #2e2e2e;
    width:100%;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* page header */

.header {
    position:relative;
    width: 100%;
    height:100vh;
    background-color: black;
    background-image: url(Images/00-page-header.jpg);
    background-position: 50% 0%;
    background-repeat:no-repeat;
    margin-bottom:30px;
}

@media (max-height:680px) {
    .header { height:680px; }
}
@media (min-height:950px) {
    .header { height:760px; }
}
@media print {
    .header { height:760px; }
}

.header-quote-block {
    position:absolute;
    top:50px;
    width: 100%;

    color: rgba(180,201,241,0.9);
    color: #fff;
    font-style:italic;
    line-height:1.4;
    text-align: justify;
}

.header-quotes {
    width:940px;
    margin-left:auto;
    margin-right:auto;
}

.header-quotes div {
    margin-left: 536px;
}

.header-quotes div.who {
    margin-top:8px;
    text-align:right;
}

.header-quotes div.two {
    margin-top:18px;
}

.header-quotes div.who2 {
    margin-top:-8px;
    text-align:right;
}

.header-quotes b {
    color:#fff;
}

.header-plain {
    display:none;
}

.header-title-block {
    position:absolute;
    bottom:42px;
    width:100%;
}

.header-titles {
    position:relative;
    width:940px;
    margin-left:auto;
    margin-right:auto;
}

.header-title-selflink {
    position:absolute;
    width:88px;
    height:30px;
    top:88px;
    left:354px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* page footer */

.footer {
    position:relative;
    width: 100%;
    background-color: #111;
    border-top: 1px solid #000;
    margin-bottom:0;
    color: #999;
    font-size:12px;
    line-height:1.2;
    padding-top:20px;
    padding-bottom:15px;
}

.footer-content {
    margin-left:94px;
    width:481px;
    text-align:justify;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* chapter */

.chapter {
    position:relative;
    width: 940px;
    margin-left:auto;
    margin-right:auto;
}

.row {
    position:relative;
    width: 940px;
}

.column-left {
    display: inline-block;
    width: 470px;
    text-align: justify;
    vertical-align:top;
}

.column-right {
    display: inline-block;
    margin-left: 30px;
    width: 440px;
    vertical-align:top;
    margin-bottom: 20px;
}

.column-right .floaty {
    position:absolute;
    z-index:1;
}

.column-right img {
    display:block;
}

.column-right svg {
    display:block;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* headings */

h2 {
    display:none;
}

h3 {
    font: inherit;
    font-weight: bold;
    margin-top:26px;
    margin-bottom:12px;
    color: #fff;
    background-color: #444;
    padding-left:10px;
    margin-left:-10px;
    margin-right:-10px;
    padding-top:6px;
    padding-bottom:4px;
}

h3 a {
    color:inherit;
    font:inherit;
}

h3 a:hover {
    color:inherit;
}

h3 span {
    color: #ddd;
    font-weight:normal;
    font-style:italic;
    margin-left:4px;
}

h4 {
    font: inherit;
    font-weight: bold;
    margin-top:14px;
    margin-bottom:12px;
    color: #000;
}

.indent {
    margin-left: 20px;
}

.big-quote {
    font: italic 20px/1.25 "Source Sans Pro", sans-serif;
    width: 398px;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-left: auto;
    margin-right:auto;
    margin-top: 24px;
    margin-bottom: 38px;
    padding-left: 0.4em;
    text-indent:-0.4em;
}

.coda-quote {
    position:relative;
    left:-8px;
    font: italic 20px/1.3 "Source Sans Pro", sans-serif;
    width: 534px;
    padding: 20px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-left: auto;
    margin-right:auto;
    margin-top: 16px;
    margin-bottom: 32px;
    padding-left: 0.4em;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* toc */

#toc-template {
    display:none;
}

.toc {
    position:relative;
    margin-top:120px;
    margin-bottom:26px;
    text-align:left;
    min-height:251px;
}

.toc-background {
    position:absolute;
    width: 100%;
    height: 83px;
    border-top: 3px solid #000;
    background-color: #f2f2f2;
}

.top-stripe {
    position:absolute;
    width: 100%;
    height:1px;
    top:4px;
    background-color: #000;
}

.toc-contents {
    position:relative;
    width: 960px;
    margin-left:auto;
    margin-right:auto;
}

.toc-chapter {
    display: inline-block;
    vertical-align:top;
    width: 0px;
    min-height: 240px;
    padding-left:10px;
    padding-right:5px;
}

.toc-active {
    background-color:#fff;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
}

.toc-funding     { width:120px; }
.toc-production  { width:130px; }
.toc-moving      { width:105px; }
.toc-consumption { width:120px; }
.toc-tools       { width:139px;}
.toc-media       { width:161px;}
.toc-coda        { width:78px;}

.toc-chapter-name {
    display: block;
    text-decoration: none;
    font: normal 18px/1.0 "fake_receiptregular", sans-serif;
    color: #c3c3c3;
    min-height: 79px;
    margin-top: 19px;
}

.toc-section-name {
    display:block;
    text-decoration: none;
    color: #d6d6d6;
    font: bold 13px/1.2 "Source Sans Pro", sans-serif;
    margin-bottom: 12px;
}

.toc-section-name span {
    color: #d6d6d6;
    font-weight:normal;
    font-style:italic;
}

.toc-chapter-name:hover, .toc-section-name:hover {  text-decoration:none; }
.toc-active .toc-chapter-name:hover, .toc-active .toc-section-name:hover {  text-decoration:underline; }

.toc-chapter-name:hover { color: #00c0ff; }
.toc-active .toc-chapter-name { color: #00c0ff; }

.toc-section-name:hover { color: #666; }
.toc-active .toc-section-name { color: #333; }

.toc-section-name:hover span { color: #999; }
.toc-active .toc-section-name span { color: #999; }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* bibliography */

.biblio {
    position:relative;
    text-align:left;
    margin-top:15px;
    margin-left:95px;
    margin-bottom:40px;
}

.biblio-row {
    margin-bottom:30px;
}

.biblio-group {
    display:inline-block;
    vertical-align:top;
    margin-right:40px;
}

.biblio-group:last-child {
    margin-right:0;
}

.biblio-group-title {
    font: 16px "hcm", sans-serif;
    color: #69aac8;
    margin-bottom:5px;
}

.biblio-group-contents {
}

.biblio-item {
    display:inline-block;
    vertical-align:top;
    margin-right:7px;
}

.biblio-item:last-child {
    margin-right:0;
}

.biblio-item img {
    display:block;
    margin-left:-1px;
}

.biblio-author {
    font: 13px "hcm", sans-serif;
    color: #666;
    margin-top:4px;
}

.biblio-title {
    font: 13px "hcm", sans-serif;
    color: #a8a8a8;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* figures */

.figure {
    margin-top:4px;
}

.figure-caption {
  color: #69aac8;
  font: 13px "hcm", sans-serif;
  text-align: left;
  margin-bottom:2px;
}

.figure .figure-caption:first-child {
    margin-top:-2px;
}

.script.figure {
    margin-top:2px;
}

.script.figure .figure-caption:first-child {
    margin-top:0px;
}

.figure-caption .amount {
  color: #acacac;
  font: 11px "hcm", sans-serif;
  float:right;
  margin-right:1px; 
  margin-top:2px;
}

.figure-caption .comment {
  color: #acacac;
  font: 11px "hcm", sans-serif;
}

.figure span.cite {
    position:absolute;
    display:none;
}

.figure:hover span.cite {
    display:inline;
}

body.touch-device .figure span.cite {
    display:inline;
}

.figure.hold-cite span.cite {
    display:inline;
}

.figure-caption.with-icon span.cite {
    margin-top:7px;
}

.figure span.cite a {
    font-size:11px;
    color: #aaa;
    margin-left:0.4em;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* side notes */

.side-note {
    width: 430px;
    font: normal 12px/1.4 "Source Sans Pro", sans-serif;
    color: #999;
}

.side-note p {
    margin-bottom:9px;
}

.side-note p:first-child {
    text-indent:-0.6em;
}

.side-note blockquote {
    color: #999;
    margin-left:10px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* blockquote */

blockquote {
    margin-bottom:12px;
    margin-left:20px;
    color: #666;
    font-style:italic;
}

blockquote .author {
    color: #bbb;
}

blockquote b {
    color: #555;
}

blockquote span.cite {
    position:absolute;
    display:none;
}

blockquote:hover span.cite {
    display:inline;
}

body.touch-device blockquote span.cite {
    display:inline;
}

blockquote span.cite a {
    font-size:12px;
    margin-left:0.4em;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* link previews */

.link-preview {
    position:absolute;
    left:495px;
    z-index:10;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.7);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* tangle */

#clunker-calculations .calculation {
    display:none;
}

.TKCursorDragHorizontal {
	cursor: pointer;
	cursor: move;
	cursor: col-resize !important;
}

.TKCursorDrag {
	cursor: pointer;
	cursor: move;
}

.adjustable-number-example {
    color: #0dbe04;
}
.adjustable-number {
    color: #0dbe04;
    white-space:nowrap;
}
.adjustable-number.hovering {
    background-color: #e4ffed;
    color: #0cb304;
}
.adjustable-number.dragging {
    background-color: #66c563;
    color: #fff;
}

.calculated-result-example {
    color: #2695fd;
}
.calculated-result {
    color: #2695fd;
    cursor:pointer;
    white-space:nowrap;
}
.calculated-result.hovering {
    background-color: #e1eef3;
}
.calculated-result.locked {
    background-color: #4eabff;
    color: #fff;
}
.calculated-result.locked.hovering {
    background-color: #529cdf;
}

.calculation-help {
	display:none;
	position:absolute;
    text-align:right;
    padding-top:1px;
    width:80px;
	left:-80px;
	color: #bbb;
	font: 11px/1.2 "hcm", sans-serif;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* analyses */

.analysis {
    margin-top:10px;
    font: normal 13px/1.7 "Source Sans Pro", sans-serif;
    width:490px;
}

.analysis .line {
}

.analysis .line.expression {
}

.analysis .comment {
    font: normal 12px/1.1 "Source Sans Pro", sans-serif;
    font-style: italic;
    color: #999;
}

.analysis .spacer-1 {
    width:440px;
    height:10px;
}

.analysis .spacer-2 {
    width:440px;
    height:15px;
}

.analysis .separator {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 440px;
    height: 1px;
    border-bottom: 1px solid #ddd;
}

.analysis .distribution {
    position:relative;
    display:inline-block;
    vertical-align:top;
    margin-top:2px;
}

.analysis .distribution .comment {
    margin-top:2px;
}

.analysis .distribution .label {
    position:absolute;
    display:none;
    top:20px;
    width:50px;
    font: normal 12px/1.1 "Source Sans Pro", sans-serif;
    color: #999;
    text-align:center;
}

.analysis .distribution .bars {
    height:18px;
}

.analysis .distribution .bar {
    display: inline-block;
    position: relative;
    background-color: #f4f4f4;
    width: 5px;
    height: 18px;
    border-right: solid 1px #fff;  /* no gaps between hover */
}

.analysis .distribution .bar.selected {
    background-color: #e3f6fe;
}

.analysis .distribution .bar:hover {
    background-color: #ffe1ca;
}

.analysis .distribution .bar .fill {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    background-color: #ccc;
}

.analysis .distribution .bar.selected .fill {
    background-color: #53a7e8;
}

.analysis .distribution .bar:hover .fill {
    background-color: #fd7e10;
}

.analysis .token {
    display:inline-block;
    text-align:center;

    line-height:1.0;
    padding-left:8px;
    padding-right:8px;
    padding-top:2px;
    padding-bottom:1px;

    border-radius:20px;
    border: 1px solid #85abbd;
    background-color: #91b9cc;
    color: #fff;
    cursor: default;
}

.analysis .token.hovering {
    background-color: #5f9bb6;
    border-color: #6a828e;
}

.analysis .token.dummy {
    visibility:hidden;
}

.analysis-cars_traded .token.lhs { min-width:66px; }
.analysis-gallons_saved .token.lhs { min-width:135px; }
.analysis-hours_of_gas .token.lhs { min-width:160px; }
.analysis-tons_CO2e_saved .token.lhs { min-width:118px; }
.analysis-percent_annual_emissions .token.lhs { min-width:140px; }
.analysis-dollars_per_ton_CO2e .token.lhs { min-width:112px; }
.analysis-dollars_per_ton_CO2e_on_balance .token.lhs { min-width:175px; }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* carbon budget */

.carbon-budget-knob {
    position:absolute;
    width:40px;
    height:40px;
    background-image: url(Images/01-carbon-budget-knob.png);
    background-size: 100%;
    margin-top:-20px;
    margin-left:-20px;
}

.carbon-budget-knob.dragging {
    background-image: url(Images/01-carbon-budget-knob-down.png);
}

.carbon-budget-knob-help {
    position:absolute;
    font: 11px "hcm", sans-serif;
    color: #bbb;
    left:422px;
    top:-30px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* autocomplete video */

.autocomplete-video {
    position:relative;
    margin-left:70px;
    width:800px;
    height:180px;
    margin-top:10px;
    margin-bottom:25px;
    border: 1px solid #eee;
}

.videoChrome {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.marker {
    position:absolute;
    top: 0px;
    left:-50px;
    width: 45px;
    height: inherit;
/*    background-color: #008ebd;*/
    cursor: pointer;
    pointer-events: auto;
}

.markerProgressCanvas {
    display:none;
    position:absolute;
    bottom: -2px;
    left:17px;
    width: 24px;
    height: 24px;
    pointer-events: none;
}

.markerProgressOverlay {
    display:none;
    position:absolute;
    bottom: -3px;
    left:17px;
    width: 24px;
    height: 25px;
    background-image: url(Images/StyleVideoProgressPie.png);
    pointer-events: none;
    opacity:0.2;
}

.markerPlayAgain {
    display:none;
    position:absolute;
    font: bold 11px/1.0 "Helvetica Neue", "Arial", sans-serif;
    text-align: right;
    right: 2px;
    width: inherit;
    bottom: 0px;
    pointer-events: none;
    color: rgba(0,0,0,0.3);
}

.videoDarken {
    position: absolute;
    top:0px;
    left:0px;
    width: inherit;
    height: inherit;
    background-color: transparent;
    pointer-events: auto;
    cursor: pointer;
}

.videoOverlay {
    position: absolute;
    top:0px;
    left:0px;
    border: 1px solid rgba(0,0,0,0.14);
    pointer-events: none;

    background-image: url(Images/StyleVideoOverlay.png);
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}

.videoPlayButton {
    position: absolute;
    width: 78px;
    height:79px;
    background-image: url(Images/StyleVideoPlayButton.png);
    pointer-events: none;
}

.videoPlayButton.verbose {
    height: 90px;
    background-image: url(Images/StyleVideoPlayButtonVerbose.png);
}

.videoClickToPlay {
    width:inherit;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 41px;
    background-image: url(Images/StyleVideoClickToPlay.png);
    pointer-events: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* special layouts */

.code {
    font: 11px monospace;
    border: 1px solid #e2e2e2;
    padding:10px;
    background-color: #fcfcfc;
}

.inline {
    display:inline-block;
    vertical-align:top;
    margin-right:20px;
}
.inline:last-child {
    margin-right:0px;
}

.splash-list {
    font: 11px "hcm", sans-serif;
    color: #888;
    margin-bottom:14px;
}


/* framed-langs */

.framed-langs {
    text-align:left; 
    font: 13px "hcm", sans-serif;
    width:940px;
    margin-bottom:14px;
}

.framed-lang {
    display:inline-block;
    vertical-align:top;
    margin-right:10px;
    width:306px;
}

.framed-lang:last-child {
    margin-right:0;
}

.framed-lang div:first-child {
    color: #bbb;
    margin-bottom:2px;
}

.framed-lang img {
    display: inline;
    width: 304px;
    height: 140px;
    border: 1px solid #ccc;
    color:#ccc;
}


/* public-structure */

.public-structure-captions {
    margin-top:-178px;
    position:relative;
    width:940px;
    height:158px;
}

.public-structure-caption {
    position:absolute;
    top:0px;
    text-align:left;
    line-height:1.4;
}


/* proverbs */

.proverbs {
    width:940px;
    margin-top:0px;
    margin-bottom:20px;
}

.proverbs-item-1 {
    display:inline-block;
    margin-left:151px;
    margin-right:30px;
}

.proverbs-item-2 {
    display:inline-block;
}


/* model-icons */

.model-icons {
    margin-left:68px;
}

.model-icons img {
    display:block;
    position:absolute;
    left:0px;
}


/* grid-4 */

.grid-4 {
    width:940px;
    margin-top:10px;
    margin-bottom:15px;
}

.grid-4-item {
    display:inline-block;
    width:227px;
    text-align:left;
    line-height:1.4;
    vertical-align:top;
    margin-right:10px;
}

.grid-4-item p {
    padding-right:3px;
}

.grid-4-item:last-child {
    margin-right:0;
}

.grid-4-item p {
    margin-top:5px;
}


/* grid-3 */

.grid-3 {
    width:940px;
    margin-top:15px;
    margin-bottom:20px;
}

.grid-3-item {
    display:inline-block;
    width:300px;
    text-align:left;
    line-height:1.4;
    vertical-align:top;
    margin-right:20px;
}

.grid-3-item:last-child {
    margin-right:0;
}


/* dynamic-tools */

.dynamic-tools {
    width:940px;
    margin-top:15px;
    margin-bottom:20px;
}

.dynamic-tools-item {
    display:inline-block;
    width:306px;
    text-align:left;
    line-height:1.4;
    vertical-align:top;
    margin-right:11px;
}

.dynamic-tools-item:last-child {
    margin-right:0;
}

.dynamic-tools-item .figure-caption {
    display:none;
    margin-bottom:3px;
}

.dynamic-tools-thumbnail {
    margin-bottom:5px;
}

.dynamic-tools-thumbnail .border {
    position:absolute;
    box-shadow:inset 0px 0px 0px 1px rgba(0,0,0,0.2);
    width:306px;
    height:170px;
    z-index:2;
}

.dynamic-tools-thumbnail:hover .border {
    box-shadow:inset 0px 0px 0px 1px #69aac8;
}

.dynamic-tools-thumbnail img {
    display:block;
    position:absolute;
    z-index:1;
}

.dynamic-tools-thumbnail video {
    display:block;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* print */

@media print {
    .toc { page-break-before:always; }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* generic */

p {
    margin-bottom:12px;
}

pre {
    margin-bottom:12px;
}

strong {
    font-weight:bold;
    color: #f00;
}

.urgent {
    color: #f00;
}

b {
    font-weight:bold;
    color: #000;
}

a { 
    text-decoration:none; 
    font-weight:normal;
    color: #2695fd; 
    border:none;
}

a:hover {
    text-decoration:underline;
    color: #00baff;
}

sup, sub {  /* prevent sub from affecting line height */
   vertical-align: baseline;
   position: relative;
   top: -0.25em;
}
sub { top: 0.25em; }

img { 
    border:none;
}

ul {
    margin-left:22px;
    margin-bottom: 12px;
}

ol {
    margin-left:22px;
    margin-bottom: 12px;
}

li {
    margin-bottom:8px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */ 
/* svg */

svg text {
  font: 11px "hcm", sans-serif;
}

.public-structure text {
  font: 12px "hcb", sans-serif;
}

.chart {
  display:block;
}

.chart rect {
  fill: #7cd3f5;
}

.chart rect.segment0 { fill: #7cd3f5; }
.chart rect.segment1 { fill: #3499e4; }
.chart rect.segment2 { fill: #7cd3f5; }
.chart rect.segment3 { fill: #3499e4; }
.chart rect.segment4 { fill: #7cd3f5; }
.chart rect.segment5 { fill: #3499e4; }
.chart rect.segment6 { fill: #7cd3f5; }

.chart rect.transportation { fill:#ffd44b; }
.chart rect.manufacturing { fill:#ff9c00; }
.chart rect.residential { fill:#e24800; }
.chart rect.commercial { fill:#b30300; }

.chart text.title {
  fill: #69aac8;
  font: 13px "hcm", sans-serif;
  text-anchor: start;
}

.chart text.label {
  fill: #acacac;
  font: 11px "hcm", sans-serif;
  text-anchor: start;
}

.chart text.stack-caption {
  text-anchor: middle;
}

.chart text.amount {
  fill: #6a6a6a;
  font: 11px "hcm", sans-serif;
  text-anchor: end;
}

.chart text.annotation {
  fill: #acacac;
  font: 11px "hcm", sans-serif;
  text-anchor: start;
}

