
@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-boldit-webfont.eot');
    src: url('sourcesanspro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-boldit-webfont.woff2') format('woff2'),
         url('sourcesanspro-boldit-webfont.woff') format('woff'),
         url('sourcesanspro-boldit-webfont.ttf') format('truetype'),
         url('sourcesanspro-boldit-webfont.svg#source_sans_probold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}


@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-it-webfont.eot');
    src: url('sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-it-webfont.woff2') format('woff2'),
         url('sourcesanspro-it-webfont.woff') format('woff'),
         url('sourcesanspro-it-webfont.ttf') format('truetype'),
         url('sourcesanspro-it-webfont.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}